<h1>Listing moodboards</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @moodboards.each do |moodboard| %>
      <tr>
        <td><%= link_to 'Show', project_moodboard %></td>
        <td><%= link_to 'Edit', edit_moodboard_path(moodboard) %></td>
        <td><%= link_to 'Destroy', moodboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moodboard', new_moodboard_path %>
