<div class="bg"></div>
<div class="jumbotron">
	<script>
		var jumboHeight = $('.jumbotron').outerHeight();
		function parallax(){
		    var scrolled = $(window).scrollTop();
		    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
		}

		$(window).scroll(function(e){
	    parallax();
		});
	</script>
		
	<h1>Welcome to Kollate!</h1>
		<p>
		<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-success" %>
		</p>
</div>
<div class="maintext">
		<p>
		Kollate gives designers and project managers an easy way to track and follow project briefs from clients.
	
		TECH STORY
		</p>
</div>
