<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Dribbble Popular API with jQuery</title>
	<link rel="stylesheet" href="stylesheets/core.css">
  <script type="text/javascript" src="javascripts/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.jribbble.min.js"></script>
 <!--  // <script type="text/javascript" src="javascripts/masonry.pkgd.min.js"></script> -->
<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
	<div id="w">
		<h1>Inspiration</h1>
		
		<nav>
			<a href="#" id="p1" class="pagination sel">1</a>
			<a href="#" id="p2" class="pagination">2</a>
			<a href="#" id="p3" class="pagination">3</a>
			<a href="#" id="p4" class="pagination">4</a>
			<a href="#" id="p5" class="pagination">5</a>
			<a href="#" id="p6" class="pagination">6</a>
			<a href="#" id="p7" class="pagination">7</a>
			<a href="#" id="p8" class="pagination">8</a>
			<a href="#" id="p9" class="pagination">9</a>
		</nav>

		<div id="container">
			<ul id="shotsListing" class="clearfix">
				<strong>Loading...</strong>
			</ul>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			getShotsList(1);
		
			$("nav .pagination").click(function(e){
				e.preventDefault();
				
				$(this).siblings(".sel").removeClass("sel");
				$(this).addClass("sel");
				
				var newnum = $(this).html();
				getShotsList(newnum);
			});
			
			function getShotsList(p){
				$.jribbble.getShotsByList("popular", function(data){
	    		var html = [];
	
	    		$.each(data.shots, function (i, shot) {
	          html.push('<li>');
	          html.push('<a href="' + shot.url + '" target="_blank" class="linkc">');
	          html.push('<img src="' + shot.image_teaser_url + '" alt="' + shot.title + '">');
						html.push('</a></li>');
	    		});
	
	    	$('#shotsListing').html(html.join(''));
	    	}, {page: p, per_page: 36});			
			}

		});
	</script>
</body>
</html>