<h1>Projects</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Client</th>
      <th>Deadline</th>
    </tr>
  </thead>

  <tbody>
    <%= render @projects %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>



