<h1>Moodboard</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @images %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
